div.container {
  padding: 50px 0;
}
div.logo {
  display: block;
  overflow: auto;
  margin-bottom: 0.5rem;
}
div.logo h1 {
  font-size: 2rem;
  text-align: center;
  line-height: 1;
  margin-bottom: 0.625rem;
}
div.logo p {
  font-size: 0.875rem;
  text-align: center;
  line-height: 1.5;
}
div.container > canvas {
  width: 100%;
  border: 1px solid #ccc;
  margin: 1rem 0;
  cursor: crosshair;
  box-sizing: border-box;
}
div.toolbar {
  width: 100%;
  display: block;
  min-height: 40px;
  padding: 4px;
  padding-top: 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
}
div.toolbar div.left, div.toolbar div.right {
  display: block;
  float: left;
  height: 30px;
  padding-top: 4px;
}
div.toolbar div.right {
  float: right;
}
div.toolbar div.left strong {
  font-size: 1rem;
  height: 30px;
  line-height: 32px;
  text-transform: uppercase;
  padding: 0 5px;
  width: 70px;
  float: left;
  display: block;
}
div.toolbar div.left > div, div.toolbar div.left > select {
  float: left;
  display: block;
  margin-right: 4px;
}
div.toolbar div.left > select {
  padding: 0 5px;
  outline: none;
  font-size: 1rem;
  height: 30px;
  line-height: 30px;
  border: 1px solid transparent;
  box-shadow: none;
  background: #EFEFEF;
  background-image: none;
  -webkit-appearance: none;
  cursor: pointer;
}
div.toolbar div.left div#colorPicker {
  display: block;
  float: left;
  clear: none;
}
div.toolbar div.right button {
  display: block;
  float: right;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: bold;
  height: 30px;
  line-height: 32px;
  padding: 0 7.5px;
  background-color: #EFEFEF;
  cursor: pointer;
  margin-right: 4px;
}
div.toolbar div.right button:hover {
  background-color: #ccc;
}
div.toolbar div.right button:nth-child(1) {
  margin-right: 0;
}
@media (max-width: 400px) {
  div.toolbar div.right button span {
    display: none;
  }
}
